.svg1{
    height: 32px; 
}

/*Devision 1*/
.heading{
    margin-left: 24px;
    height: 32px;
}

.bold{
    font-weight: bold;
}
.opacity{
    opacity: 0.2;
}
.Signin  {
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;
    word-spacing: 16px;
    
}
.Signin1{
    word-spacing: 16px;
}

.Singin2{
    word-spacing: 16px;
}
/*Devision 2*/
.banner{
    margin-left: 24px;
    margin-bottom: 32px;
    margin-top: 32px;
    margin-right: 24px;
    width: 60%;
}